<ons-page class="center" ng-controller="AboutCtrl">

    <ons-list>
        <ons-list-item class="topcoat-list__item__line-height">
            <ons-row>
                <div class="col-20"><i class="fa fa-book fa-2x align"></i></div>
                <div class="col">Read more about <a ng-click="linkTo('http://jbc-design.com')" href="">JBC Design Limited</a>...</div>
            </ons-row>
        </ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height">
            <ons-row>
                <div class="col-20"><i class="fa fa-twitter fa-2x align"></i></div>
                <div class="col">Follow us on <a ng-click="linkTo('http://twitter.com/jbcdesign')" href="">Twitter</a></div>
            </ons-row>
        </ons-list-item>
    </ons-list>

</ons-page>